APP_NAME=__APP_NAME__
APP_PORT=8080

DB_NAME=__DB_NAME__
DB_USER=__DB_USER__
DB_PASS=__DB_PASS__
DB_PORT=5432

SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=jdbc:postgresql://db:${DB_PORT}/${DB_NAME}
SPRING_DATASOURCE_USERNAME=${DB_USER}
SPRING_DATASOURCE_PASSWORD=${DB_PASS}
SPRING_JPA_HIBERNATE_DDL_AUTO=update
