[Unit]
Description=Feral GameMode Daemon (user)
Documentation=man:gamemoded(8)

[Service]
Type=dbus
BusName=com.feralinteractive.GameMode
ExecStart=/usr/bin/gamemoded
Restart=on-failure

[Install]
WantedBy=default.target
