[Unit]
Description=Quickshell Session
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
Environment=QT_QPA_PLATFORM=wayland
ExecStart=/usr/bin/qs --path %h/.config/quickshell/shell.qml
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
